doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0")
        title scope-webpack
    body
        nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
            a.navbar-brand.col-sm-3.col-md-2.mr-0(href="#") scope
        #app